body {
  background: #ddd;
}


#offscreen-nav ul {
  list-style-type: none;
  font-size: 2em;
  padding: 5%;
}

#offscreen-nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
}

#close-btn {
  float: right;
}

#more-info {
  color: red;
}

#tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 150px;
  height: 150px;
  border: 1px solid;
  box-shadow: 2px 2px 2px 2px gray;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
